$bg-color: #e6f8f9;
$nav-color: #b1e8ed;
$text-color: #ca3e47;
$navbar-light-color: #ca3e47;
$navbar-light-active-color: #ca3e47;
$navbar-light-toggler-border-color: #bd8185;
$navbar-light-hover-color: #ca3e47;

@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $bg-color;
    color: $text-color;
}

.navbar{
    background-color: $nav-color;
    padding-bottom: 0;
    padding-top: 0;
}

.navbar-nav {
    .nav-link {
        font-size: 1.8rem;
      &:hover {
          background-color: $bg-color;
      }
    }
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
      background-color: $bg-color;
    }
}

.logoLink {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    color: $text-color;
    font-size: 1.8;
    img {
        margin-right: 3px;
    }
    &:hover{
        color: $navbar-light-active-color;
        background-color: $bg-color;
    }
}

.navbar-toggler {
    margin: 5px 0;
}

.card {
    background-color: $bg-color;
    border: 3px solid #b1e8ed;
    border-radius: 0.1rem;
    padding: 28px;
    &:hover {
        transform: scale(1.1);
    }
    .card-body {
        padding: 0;
    }
  }

